html {

box-sizing: border-box;

}
*, *:before, *after {
box-sizing: inherit;

}
/*---Responsive Image------*/

img{

    max-width: 100%;
}

/*--------Utility Classes*/

.container{
margin:auto;
padding:40px;

}



body{
background-image:url(img/background.png);
background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
font-family: "Comic Neue", cursive;

}
a{
    color:#D98471;
}

    h2{ 
        color:#BF4949;
        text-shadow: 2px 2px #D98471;
      
    }
    main{
        background-color:#E6C363;
width:80vw;
max-width:900px;
text-align:left;
color: #55734D;
margin:40px auto;
border:4px dashed #D98471;
border-radius: 5px;

    }
    div.hgroup{

        width:90%;
    
    }

    nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
header.primary nav ul li a{
color:#E6C363;
display:block;
margin-bottom:10px;
background:#55734D;
border:1px solid #E6C363;
border-right:10px solid #E6C363;
border-radius:20px 0;
padding:10px 10px 10px 10px;
font-size: 1rem;
text-shadow:2px 3px #55734D;
transition:.2s;
}

header.primary nav{
    width: 150px;

}
header.primary nav ul li a:hover{
text-decoration:underline;
background: #BF4949;

}
header.primary {
        position: relative;
}

    header.primary {
background-color: #E6C363;
padding:20px;
background-image:url(img/travel.png);
background-size: cover;
background-repeat:no-repeat;
background-position: center;
border:5px solid #55734D;
border-radius:5px;
display:flex;
justify-content: space-between;

    }
    div.hgroup h1 a{
color:#55734D;
text-decoration:none;
font-size:2.5rem;
text-shadow: 2px 2px #E6C363;

    }
    
    div.hgroup h2{
      color:#E6C363;
      text-shadow: 2px 2px #D98471;
    }

#content {
display:flex;
flex-direction:row;
justify-content:space-around;
gap:20px;

}

#content .post{
  background-color: #4B8CA6;
    border:3px dashed #BF4949;
border-right:10px solid #E6C363;
border-bottom: none;
border-radius:20px 0;
padding:10px 10px 10px 10px;
font-size: 1rem;
text-align:center;
 box-shadow: 0 16px 28px #BF4949;  
 padding:10px;
 font-size:1rem;
 color:#E6C363;
}

#content a{
  font-size:1.5rem;
color:#D98471;
text-shadow:2px 2px #E6C363;

}

figure {margin:0}

#content figure{
  position: center;

}
#content figcaption{
  text-transform:uppercase;
  font-size:.6rem;

}


aside .container{
    display:grid;
    grid-template-columns: 2fr 2fr;
    gap:40px;

}

aside[role="complementary"]{
  background-color:#55734D;
    border:10px solid #BF4949;
border-radius:0 30px;
padding:10px;
  color:#D99D55;
}

img {
  border: 2px dashed #BF4949;
  border-radius: 4px;
  padding: 2px;
  width: 100px;
}



.column {
  float: left;
  width: 25%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}



.hide {
  display: none;
}
    
.myDIV:hover + .hide {
  display: block;
  color: #D98471;
}


.container {
  position: relative;
  width: 50%;
}

.widget{
  border: 3px solid #D99D55;
  border-radius: 30px;
  margin:5px;
  padding: 10px 10px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.accordion-container {
    width: 80%;
    margin: 50px auto;
    background-color: #4B8CA6;
    border-left:3px dashed #BF4949;
border-right:10px solid #D98471;
border-radius:20px 0;
padding:10px 10px 10px 10px;
font-size: 1rem;
text-align:center;
}

.accordion-item {
    border-bottom: 3px solid #D98471;
}

.accordion-item:last-child {
    border-bottom: none;
}

.accordion-header {
    display: block;
    border:3px dashed #BF4949;
border-right:3px dashed #D98471;
border-bottom: 3px dashed #D98471;
border-radius:20px 0;
padding:10px 10px 10px 10px;
font-size: 1rem;
text-align:center;
       background-color: #E6C363;
    cursor: pointer;
    font-weight: bold;
    color: #55734D;
    transition: background-color 0.3s ease-out;
}

.accordion-header:hover {
    background-color: #e6c363ce;
}

.accordion-content {
    padding: 0 20px;
    color:#E6C363;
    background-color: #4B8CA6;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.accordion-toggle:checked + .accordion-header + .accordion-content {
    max-height: 200px; /* Adjust as needed for your content */
    padding: 15px 20px;
}

.accordion-header::after {
    content: '+';
    float: right;
    transition: transform 0.3s ease;
}

.accordion-toggle:checked + .accordion-header::after {
    content: '-';
    transform: rotate(90deg); 
}

div.accordion h3 {
  text-align: center;
  font-size: 1.5rem;
  background-color:#4B8CA6;
  color:#E6C363;
  border:5px solid #D98471;
  border-radius:0 30px;
  width:50%;

  
}


#colophon{
background-color: #BF4949;
border-radius:5px;
background-size: cover;
background-repeat:no-repeat;
padding:3px;
text-align: center;
color:#ffffff;



}


